/* uji ocab */
.btn {
  border-radius: 12px;
  width: 40%;
}
.btn2 {
  margin-top: 15px;
  width: 40%;
}

p {
  line-height: 2em;
  text-decoration: none;
}
.new {
  border: 1px solid #1177bc;
  border-radius: 5px;
}
@font-face {
  font-family: "gilroy";
  src: url("/asset/font/gilroy/Gilroy-Light.otf");
}
@font-face {
  font-family: "gilroy-bold";
  src: url("/asset/font/gilroy/Gilroy-ExtraBold.otf");
  font-weight: bold;
}
body {
  font-family: "gilroy";
}
main {
  width: 100%;
  margin: 0 auto;
  min-height: calc(100vh - 820px);
}
.navbar {
  font-size: 18px !important;
  padding-left: 5px;
}
.navbar-brand {
  text-align: center;
}
.nav-link {
  color: #0d7fc8 !important;
  font-weight: bold;
  font-family: "gilroy-bold";
  margin-right: 10px;
}
.jumbotron {
  background-color: #f3fefd;
  width: 100%;
  height: 800px;
  padding-top: 180px;
  margin-bottom: 190px !important;
}
.submit {
  border-radius: 10px;
  background-color: #1177bc;
  font-family: "gilroy-bold";
  color: white;
  text-decoration: none;
  width: 50%;
  height: 50px;
  border: none;
}
.submit2 {
  background-color: #1177bc;
  font-family: "gilroy-bold";
  color: white;
  text-decoration: none;
  width: 100%;
  height: 50px;
  border: none;
  margin-bottom: 25px;
}
.award {
  background-image: url(/asset/img/award-bg.png);
  width: 100%;
  height: auto;
  background-size: cover;
  margin-top: 150px;
}
.judul {
  font-family: "gilroy-bold";
  text-align: center;
  /* margin-top: -0px; */
  color: #0661aa;
  /* margin-bottom: 2px; */
}
.judul-2 {
  font-family: "gilroy-bold";
  text-align: center;
  color: #0661aa;
}
.judul-3 {
  margin-top: -100px;
}
.judul-4 {
  font-family: "gilroy-bold";
  text-align: center;
  color: #0661aa;
  margin-bottom: 50px;
}
.kenapa-judul {
  font-family: "gilroy-bold";
  color: #0661aa;
}
.kenapa-isi {
  font-family: "gilroy";
  color: #0661aa;
  margin-top: -10px;
  text-align: justify;
}
.xschool {
  background-image: url(/asset/img/xschool-bg.png);
  background-size: cover;
  width: 100%;
  height: auto;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
th {
  background-color: #1177bc;
  color: white !important;
}
.ul-table {
  margin-left: -40px;
}
.gabung-sekarang {
  /* background-image: url(/asset/img/bg-xschool.png); */
  width: 100%;
  background-size: cover;
  height: 800px;
}
.submit-gabung {
  margin-right: 20px;
  border-radius: 28px;
  background-color: #1177bc;
  font-family: "gilroy-bold";
  color: white;
  text-decoration: none;
  width: 35%;
  border: none;
}
.footer {
  background-image: url(/asset/img/footer.png);
  background-size: cover;
  height: auto;
  width: 100%;
}
/* untuk bootcamp  */
.jumbotron-bootcamp {
  background-image: url(/asset/img/jum-bootcamp.png);
  background-size: cover;
  width: 100%;
  height: 800px;
  padding-top: 150px;
  margin-top: 100px;
}
.bootcamp-border {
  border-radius: 30px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 10px 0 rgba(0, 0, 0, 0.1);
}
.bootcamp-border-tanggal {
  background-color: #f2f2f2;
  border-radius: 15px;
}
.bootcamp-isi-konten {
  font-size: 12px;
}
.bootcamp-judul {
  font-family: "gilroy-bold";
  color: #1177bc;
}
.isi-bootcamp {
  color: #0661aa;
  font-family: "gilroy-bold";
}
.isi-bootcamp-judul {
  color: #0661aa;
  font-family: "gilroy-bold";
}
.quote {
  color: #0661aa;
  font-family: "gilroy-bold";
  text-align: center;
}
.kelas-bootcamp {
  color: #0661aa;
  font-family: "gilroy-bold";
}
.deadline {
  font-weight: bold;
  color: #0661aa;
}
.deadline2 {
  font-family: "gilroy-bold";
  color: red;
}
.jarak-mentor {
  width: 100%;
  padding-left: 35px;
  text-align: center;
  padding-bottom: 20px;
}
.nama-mentor {
  color: #0661aa;
  font-family: "gilroy-bold";
}
.batas-img {
  padding-left: 15px;
  width: 100%;
  height: auto;
}
.spesialis-mentor {
  color: #0661aa;
  margin-top: -10px;
  line-height: normal;
}
.konten-bootcamp {
  padding-bottom: 200px;
}
/* ======untuk xschool========= */
.jumbotron-xschool {
  background-image: url(/asset/img/xschool.png);
  background-size: cover;
  margin-top: 120px;
  width: 100%;
  height: 600px;
}
.box-jumbotron {
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5), 0 1px 10px 0 rgba(0, 0, 0, 0.5);
}
.why-join {
  background-image: url(/asset/img/bg-xcshool2.png);
  background-size: cover;
  width: 100%;
  z-index: 1;
  height: 700px;
  margin-top: -50px;
}
.isi-why-join {
  color: #0d7fc8;
  font-family: "gilroy-bold";
}
.isi-pilih-kelas {
  color: #1177bc;
}
/* =====testimoni */
.testimoni {
  width: 100%;
  height: auto;
}
/* dasbord sekolah  */

.datasekolah {
  background-color: #eeeff0;
  width: 100%;
  height: auto;
  margin-top: 120px;
}
.rata-kanan {
  text-align: right;
  margin-right: -19px;
}
.adminlte-sekolah {
  margin-top: 90px;
  padding-bottom: 550px;
}
/* ===== detail x school dan bootcamp ======= */
.jumbotron-detail {
  background-color: #010815;
  background-size: cover;
  width: 100%;
  height: 500px;
  margin-top: 100px;
}
.judul-program {
  font-family: "gilroy-bold";
  color: white;
}
.isi-jumbotron {
  color: white;
}
.informasi {
  color: white;
}
.box-detail {
  background-color: #eeeff0;
  padding-right: 35px;
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 10px 0 rgba(0, 0, 0, 0.1);
}
.box-melayang {
  background-color: #f3fefd;
  width: 100%;
  height: 1100px;
  z-index: 1;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.judul-dalam {
  font-family: "gilroy-bold";
  color: #0b7dda;
}
.rata {
  color: #0b7dda;
}
/* rating  */
.bar {
  border-radius: 25px;
  height: 10px;
  background-color: #f1d903;
  padding-bottom: 10px;
}
.cari {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 40%;
  background: #f1f1f1;
}
.cari-button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}
.cari-button:hover {
  background: #0b7dda;
}
.angka {
  font-family: "gilroy-bold";
  color: #0b7dda;
}
.col-25 {
  float: left;
  width: 25%;
}
.col-75 {
  font-size: 17px;
  border: 1px solid grey;
  float: left;
}
/* ahir reating  */

/* untuk about us */

/* melistone */

.milestone {
  background-image: url(/asset/img/bg_about.png);
  background-size: cover;
  margin-top: -120px;
  width: 100%;
  height: 600px;
  padding-top: 150px;
  margin-bottom: 800px;
}
.rata-kanan {
  text-align: right;
}
.timeline {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #206bf2;
  top: 0;
  bottom: 0;
  left: 100%;
  margin-left: -3px;
}
.besar-box {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  /* width: 60%; */
}
.besar-box::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #206bf2;
  border: 4px solid #9aafdd;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
.left {
  left: 0;
}

.right {
  left: 100%;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  /* left: 30px; */
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.right::after {
  left: -16px;
}

.content {
  padding: 20px 30px;
  background-color: #ebf3fa;
  position: relative;
  border-radius: 6px;
}

@media screen and (max-width: 600px) {
  .timeline::after {
    left: 31px;
  }

  .besar-box {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .besar-box::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  .left::after,
  .right::after {
    left: 15px;
  }

  .right {
    left: 0%;
  }
}

.judul_melistone {
  font-family: "gilroy-bold";
  color: #0661aa;
  margin-bottom: -15px;
}
.bulan_melistone {
  font-family: "gilroy";
  color: #0661aa;
  margin-bottom: -1px;
}
.konteks_melistone {
  font-family: "gilroy-bold";
  color: #0661aa;
  margin-bottom: -15px;
}

/* ahir melistone  */
.pesan-ceo {
  margin-top: -120px;
}

.karir {
  margin-top: 100px;
  margin-bottom: 80px;
}
.border-karir {
  width: 100%;
  padding: 16px 25px;
  border: none;
  border-radius: 20px;
  background-color: #f1f1f1;
  padding-left: 20px;
  padding-right: 50px;
}
.sub-karir {
  font-family: "gilroy";
  color: #0661aa;
  margin-top: 2px;
  text-align: justify;
  margin-bottom: 15px;
}

/* ahir about us */

/* untuk desktop ukuran 992*/
@media (min-width: 992px) {
  .jumbotron {
    margin-top: -20px !important;
  }
  .jumbotron-judul {
    color: #0661aa;
    font-size: 40px !important;
    font-family: "gilroy-bold";
  }
  .isi-jumbotron {
    font-size: 18px;
  }
  .jumbotron-konten {
    color: #0661aa;
    font-size: 20px !important;
  }
  .judul {
    font-size: 25px !important;
    padding-top: 25px !important;
    padding-bottom: 15px !important;
  }
  .award-konten {
    text-align: left !important;
    color: #0d7fc8;
    font-size: 25px !important;
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .award-konten-isi {
    padding-top: 20px;
    font-size: 18px;
    text-align: left;
  }
  .kenapa {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
  }
  .judul-2 {
    font-size: 40px !important;
    padding-bottom: 50px !important;
  }
  .kenapa-judul {
    font-size: 18px !important;
    text-align: left !important;
  }
  .kenapa-img {
    text-align: center;
    padding-right: 150px;
  }
  .kenapa-isi {
    font-size: 16px !important;
  }
  .xschool {
    margin-top: 100px;
  }
  .bootcamp {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
  }
  .bootcamp-jarak {
    padding-bottom: 10px !important;
  }
  .bootcamp-jarak-konten {
    padding-top: 50px;
  }
  .bootcamp-jarak-judul {
    margin-top: -90px;
  }
  .bootcamp-judul {
    padding-top: 10px;
    margin-bottom: -5px;
    font-size: 20 !important;
  }
  .bootcamp-border-tanggal {
    margin-top: -80px !important;
    margin-right: 30px !important;
    margin-left: 20px !important;
    margin-bottom: 110px !important;
  }
  .bootcamp-border {
    padding: 30px 10px 20px 20px;
    margin-right: 50px;
    width: 100%;
  }
  .isi-bootcamp {
    font-size: 18px !important;
  }
  .isi-bootcamp-judul {
    font-size: 18px !important;
  }
  .quote {
    font-size: 22px !important;
  }
  .kelas-bootcamp {
    font-size: 17 px !important;
  }
  .jarak-mentor {
    padding-left: 15px !important;
  }
  .tab-content {
    margin-left: 100px !important;
  }
  .pilihan {
    margin-bottom: 50px;
  }
  .gabung-sekarang {
    margin-top: 100px;
  }
  .gabung-sekarang-jarak {
    margin-top: 170px;
  }
  .gabung-sekarang-xschool {
    margin-top: 80px !important;
  }
  .bussines-partner {
    margin-top: -50px !important;
  }
  .footer {
    padding-top: 200px !important;
  }
  .isi-footer {
    padding-top: 200px !important;
  }
  .footer-isi {
    padding-top: 50px;
  }
  /* ======== untuk x school======== */
  .box-jumbotron {
    margin-top: 80px !important;
    padding-bottom: 20px !important;
  }
  .why-join {
    padding-top: 90px;
  }
  .isi-why-join {
    margin-top: 70px !important;
    font-size: 20px !important;
  }
  /* ==untuk pilih kelas ============== */
  .pilihkelas {
    background-color: #f3fefd;
    margin-top: 80px !important;
    padding-bottom: 100px;
  }
  .konten-pilih-kelas {
    margin-top: 50px;
  }
  .isi-pilih-kelas {
    font-size: 18px !important;
    padding-top: 50px;
  }
  .img-konten-web {
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    margin-right: 17 0px;
  }
  /* pilihanlayanan */
  .pilihanlayanan {
    margin-top: 80px !important;
  }
  /* .testimoni */
  .testimoni {
    margin-top: 100px !important;
  }
  /* .datasekolah */
  .datasekolah {
    text-align: left !important;
  }
  .signup {
    margin-top: 200px !important;
    text-align: center !important;
  }
  .form-signup {
    margin-top: 50px;
    margin-left: -100px;
  }
  .dasboard-sekolah-isi {
    margin-top: 20px;
  }
  .dasboard-sekolah-isi-2 {
    margin-bottom: 20px;
  }
  /* untuk x school dan bootcamp  */
  .jumbotron-detail {
    padding-top: 150px !important;
  }
  .judul-program {
    font-size: 35px !important;
  }
  .informasi {
    margin-top: 18px !important;
  }
  .box-detail {
    width: 100%;
    height: auto;
    margin-top: 50px !important;
    padding-top: 10px !important;
    padding-bottom: 1px !important;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 10px 0 rgba(0, 0, 0, 0.1);
  }
  .rata {
    text-align: left !important;
    padding-left: 1px !important;
    font-size: 16px !important;
  }
  .box-melayang {
    margin-top: -1600px !important;
    padding-top: 20px !important;
    padding-bottom: 50px !important;
  }
  .judul-dalam {
    font-size: 18px !important;
  }
  .cari {
    width: 80% !important;
  }
  .col-25 {
    margin-top: -10px !important;
    padding-top: 10px !important;
    width: 50%;
  }
  .col-75 {
    height: 45px;
    width: 50%;
  }
  .rating {
    margin-top: 50px;
    padding-bottom: 100px;
  }
  .angka {
    font-size: 100px !important;
    padding-bottom: 10px;
    text-align: center !important;
  }
  .bintang {
    margin-top: -35px !important;
    text-align: center;
  }
  .testimoni-rating {
    margin-top: 25px;
  }
  .jarak {
    margin-left: -85px;
  }
  /* untuk about us  */

  .judul_melistone {
    font-size: 20px;
  }
  .bulan_melistone {
    font-size: 15px;
  }
  .konteks_melistone {
    font-size: 25px;
  }
}

/* untuk mobile  */
@media (min-width: 320px) {
  .jumbotron {
    margin-top: -70px;
  }
  .jumbotron-judul {
    font-weight: bold;
    color: #0661aa;
    font-size: 30px;
    font-family: "gilroy-bold";
  }
  .jumbotron-konten {
    color: #0661aa;

    text-align: justify;
    font-size: 16px;
  }
  .award {
    margin-top: -80px;
  }
  .award-konten {
    padding-top: 30px;
    text-align: center;
    font-size: 16px;
  }
  .award-konten-isi {
    text-align: justify;
    color: #0661aa;
  }
  .judul {
    font-size: 20px;
  }
  .kenapa {
    text-align: center;
  }
  .judul-2 {
    padding-top: 20px;
    font-size: 30px;
    padding-bottom: 20px;
  }
  .kenapa-judul {
    font-size: 16px;
  }
  .kenapa-isi {
    font-size: 14px;
  }
  .xschool {
    margin-top: 100px;
    text-align: center;
  }
  .bootcamp {
    margin-top: 100px;
  }
  .bootcamp-judul {
    padding-top: 10px;
    margin-bottom: -5px;
    font-size: 16;
  }
  .bootcamp-jarak {
    padding-bottom: 10px;
  }
  .bootcamp-jarak-konten {
    text-align: center;
    margin-bottom: 100px;
  }
  .quote {
    font-size: 20px;
  }
  .kelas-bootcamp {
    font-size: 16px;
  }
  .deadline2 {
    margin-top: -25px;
  }
  .jarak-mentor {
    padding-left: 35px;
  }
  .tab-content {
    margin-left: 0px;
  }
  .bootcamp-border {
    padding: 30px 10px 20px 20px;
  }
  .bootcamp-border-tanggal {
    background-color: #f2f2f2;
    border-radius: 15px;
    margin-top: -100px;
    margin-right: 60px;
    margin-left: 40px;
    margin-bottom: 60px;
  }
  .pilihan {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .bussines-partner {
    margin-top: 80px;
  }
  .footer {
    padding-top: 200px;
  }
  .isi-footer {
    padding-top: 200px;
  }
  /* untuk bootcamp  */
  .isi-bootcamp {
    font-size: 16px;
  }
  .isi-bootcamp-judul {
    font-size: 16px;
  }
  /* ==== untuk x school ====  */
  .box-jumbotron {
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
  }
  .isi-why-join {
    margin-top: 20px;
    font-size: 18px;
    padding-bottom: 10px;
  }
  .pilihkelas {
    margin-top: 90px;
  }
  /* gabung  */
  .gabung-sekarang-xschool {
    margin-top: 80px;
  }
  /* .pilihanlayanan */
  .pilihanlayanan {
    margin-top: 80px;
  }
  /* .testimoni */
  .testimoni {
    margin-top: 100px;
  }
  /* .datasekolah */
  .datasekolah {
    text-align: center;
  }
  .img-dasboard {
    padding-bottom: 20px;
  }
  /* untuk .signup  */
  .signup {
    margin-top: 200px;
    text-align: center;
  }
  .dasboard-sekolah-isi {
    margin-top: 20px;
  }
  .dasboard-sekolah-isi-2 {
    margin-bottom: 20px;
  }
  /* untuk x school dan bootcamp  */
  .jumbotron-detail {
    padding-top: 120px;
  }
  .judul-program {
    font-size: 25px;
  }
  .informasi {
    margin-top: 10px;
  }
  .box-detail {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
  }
  .rata {
    text-align: left;
    padding-left: 1px;
    font-size: 16px;
  }
  .box-melayang {
    margin-top: 20px;
    padding-top: 25px;
  }
  .judul-dalam {
    font-size: 18px;
  }
  .side,
  .middle {
    width: 100%;
  }
  .right {
    display: none;
  }
  .cari {
    width: 80%;
  }
  .col-25 {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
  }
  .col-75 {
    height: 45px;
    width: 100%;
  }
  .angka {
    font-size: 60px;
    padding-bottom: 10px;
    text-align: center;
  }
  .bintang {
    margin-top: -35px;
    text-align: center;
  }
}
